/* Explorar styles */

.explorar-page {
  width: 100%;
  position: relative;
  padding-top: 200px; /* Espaçamento para a lista de observação */
}

/* Ajuste de posicionamento do título na página Explorar */
.explorar-page .page-title {
  left: 72px;
} 