/* Explorar styles */

.explorar-page {
  width: 100%;
  position: relative;
  padding-top: 200px; /* Espaçamento para a lista de observação */
}

/* Ajuste de posicionamento do título na página Explorar */
.explorar-page .page-title {
  left: 72px;
}

/* Posicionamento do botão de reload na página Explorar */
/* Posiciona ao lado direito da barra de pesquisa */
.explorar-page .reload-button.explorar-reload-button {
  top: 56px;
  right: 80px;
}

/* Reposiciona a barra de pesquisa para a esquerda na página Explorar */
.explorar-page .search-bar-container {
  right: 145px; /* 70px (right do ReloadButton) + 50px (largura do ReloadButton) + 15px (espaçamento) */
} 